<% if flash[:notice] -%>
    <div class = "alert alert-success"><%= flash[:notice] %></div>
<% end %>
<h1>Contact Us</h1>
  <p>If you have business inquiries or other questions, please fill out the following form to contact us. Thank you</p>
  <p class="note"> Fields with <span class="required">*</span> are required </p>
  <%= simple_form_for @contact, defaults: { input_html: { class: 'form-control' } } do |f| %>
      <div class="form-group">
         <div class="col-sm-5">
            <%= f.input :name, size: "10x10",placeholder: "FirstName, LastName", :required => true, error: 'Name is mandatory, please specify one' %>
         </div>
      </div>
      <div class="form-group">
        <div class ="col-md-8">
            <%= f.input :email, :required => true, error: 'Email is mandatory, please specify one' %>
        </div>
      </div>
      <div class="form-group">
        <div class ="col-md-10">
          <%= f.input :message, :as => :text, :required => true, error: 'Message is mandatory, please specify one',input_html: {rows: 6}%>
          <br>
        </div>
      </div>
       <div class ="col-md-8">
         <%= recaptcha_tags %>
        <br>
       </div>
      <div class="form-group">
        <div class ="col-md-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

  <% end %>
