
<h1><%= @product.name%></h1>
<form id="form_for_remove" action="<%=  url_for controller: 'admin/products', action: 'removeid' %>" method="post">

  <div id="ajaxtable_remove" class="row">

      <%= render partial: "productmap_removeid",:locals => { :mappedproducts=> @mappedproducts}%>

  </div>

  <button id="submit_remove_id" type="submit" class="btn btn-default">Unmap the Product</button>
</form>

<form id="form_for_search" action="<%=  url_for controller: 'admin/products', action: 'productmap' %>" method="post">

  <div style="margin-top: 40px; width: 500px;">
    <label>
      Enter Key words to search the Product
    </label>
    <%=text_field_tag 'search', nil, placeholder: 'Enter search term...' %>

  </div>
  <%= token_tag(nil) %>
  <div style="margin-top: 10px;">
    <button id="form_submit" type="submit" class="btn btn-default">Find by Product Name</button>

  </div>
</form>


<form id="form_for_assign" action="<%=  url_for controller: 'admin/products', action: 'assignid' %>" method="post">

  <div id="ajaxtable_assign" class="row">
      <%= render partial: "productmap_assignid",:locals => { :unmappedproducts=> @unmappedproducts}%>
</div>
  <button id="submit_assign" type="submit" class="btn btn-default">Map the Product</button>

</form>



