<%= simple_form_for ([@product, @used_product]), defaults: { input_html: {class:'form-control'}}  do |f| %>


    <div class ="col-sm-12">
      <p class="help-block", style="color: #dd0000;">Fields with <span class="required", style="color:black">*</span> are required.</p>
    </div>

    <div class = "form-group form-group-sm">
      <div class="col-sm-5">
        <%= f.input :name, placeholder:'John Snow', type:'text', error: 'Username is mandatory, please specify one', input_html: { maxlength: 40 } %>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class="col-sm-3">
        <%= f.input :email, label:'Email ', placeholder: 'John_snow@example.com', error: 'Email address is invalid' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-8">
        <%= f.input :additional_info, label:'Description', as: :text, error: 'Content cannot be blank', input_html: {rows: 6} %>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class ="col-sm-5">
        <%= f.input :condition_ex, label: "Condition", collection: ['1 (Poor)', '2', '3', '4', '5 (Excellent)'], selected: 3 %>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class="col-sm-3">
        <%= f.input :price, label:'Price ', type: 'integer', error: 'Price is invalid' %>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class ="col-sm-5">
        <%= f.input :warranty, collection: ['No Warranty', '1-3 Month Warranty','4-6 Month Warranty', '7-12 Month Warranty', '12+ Month Warranty'], selected: 'No Warranty' %>
      </div>,
    </div>

    <div class="form-group form-group-sm">
      <div class ="col-sm-3">
        <%= f.input :usage_duration, collection: ['Brand New', '1-3 Month Used', '4-12 Month Used', '1-2 Years Used', '2+ Years Used'], selected: 'Brand New' %>
      </div>
    </div>



    <div class="form-group form-group-sm">
      <div class="col-sm-5">
        <%= f.input :city_id, label: 'Location', collection: Province.all, as: :grouped_select, group_method: :cities, prompt: "Select One", error: "Location can't be blank" %>
        </div>
    </div>

    <div class="form-group form-group-sm">
      <div class="col-sm-3">
        <%= f.input :contact_number, label:'Tel Number', type: 'integer', error: 'Contact number is invalid' %>
      </div>
    </div>

    <div class="form-actions">
      <div class ="col-sm-12">
        <button type="submit" class="btn btn-default">Submit Your Used <%=@product.name%> </button>
      </div>
    </div>

<%end%>