<p id="notice"><%= notice %></p>

<h1>Listing Used Products</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @used_products.each do |used_product| %>
      <tr>
        <td><%= link_to 'Show', used_product %></td>
        <td><%= link_to 'Edit', edit_used_product_path(used_product) %></td>
        <td><%= link_to 'Destroy', used_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Used product', new_used_product_path %>
