<div class="row">
  <form id="formid" action=" <%if @category.present?%> <%=  url_for controller: 'site', action: 'browse', category_id: @category.id %> <%else%> <%= url_for controller: 'site', action: 'browse'%> <% end %>" method="post">
    <div class="col-md-3">
      <div style="margin-bottom: 60px;">
      <div class="thumbnail">
      <div style="margin-left: 10px; margin-bottom: 5px; ">
        <h4>Price Range:</h4>
        <div class="form-group">
          <%= text_field_tag('textmin',@textminvalue, placeholder:"Min Price",class:"form-control",style:"width: 80%") %>
        </div>
        <div class="form-group">
          <%= text_field_tag('textmax',@textmaxvalue,placeholder:"Max Price",class:"form-control",style:"width: 80%") %>
        </div>
        <%= hidden_field_tag 'param1',@searchparam  %>
        <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>

    <div class="thumbnail" style="margin-top:10px;">
      <div style="margin-left: 10px">
        <h4>Brands:</h4>
        <% Brand.all.each do |brand| %>
        <div class="checkbox">
          <label>
            <%= check_box_tag "brand_ids[]",brand.id,@selected_brands.include?(brand.id.to_s), class:"ckbox" %>
            <%= brand.name%>
            <%= token_tag(nil) %>
          </label>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>

  <div class="col-md-9">
    <div style="margin-bottom: 60px;">
    <div style="margin-right: 10px;width: 250px; float:right; ">
      <%= select_tag(:sortid,options_for_select([['Sort Price Min-Max', 1], ['Sort Price Max-Min', 2]],@sortvalue),class:"form-control") %>
      <div style="width: 100%; float:right;margin-top:5px; ">
        <%= page_entries_info @products %>
      </div>
    </div>
    </div>
    <div class="row">
      <%= render partial: "products/product", collection: @products, layout: "product_wrapper_layout",:locals => {:size => "col-md-4",obj:"browse"} %>
    </div>
    <div class="row">
      <center><%= paginate @products,:params=>{:sortid=>@sortvalue, :textmin=>@textminvalue, :textmax=>@textmaxvalue, :brand_ids=>@selected_brands }%></center>
    </div>
  </div>
  </form>
</div>