<%= simple_form_for ([@product, @product_review]), defaults: { input_html: {class:'form-control'}}  do |f| %>

    <div class = "form-group has-success">
      <div class="col-sm-5">
        <%= f.input :name, label:'Name ', placeholder:'John Snow', type:'text', error: 'Username is mandatory, please specify one', input_html: { maxlength: 40 } %>
      </div>
    </div>

    <div class="form-group has-success">
      <div class="col-sm-5">
        <%= f.input :email, label:'Email ', placeholder: 'John_snow@example.com', error: 'Email address is invalid' %>
      </div>
    </div>

    <div class="form-group has-success">
      <div class="col-sm-10">
        <%= f.input :content, as: :text, error: 'Content cannot be blank', input_html: {rows: 6} %>
      </div>
    </div>

    <div class="form-group">
      <div class ="col-sm-3">
        <%= f.input :rating, collection: 1..5, selected: 3 %>
      </div>
    </div>

    <div class ="col-sm-12">
      <p class="help-block", style="color:red">Fields with <span class="required", style="color:black">*</span> are required.</p>
    </div>

    <div class="form-actions">
      <div class ="col-sm-12">
        <button type="submit" class="btn btn-success">Submit Your Comment</button>
      </div>
    </div>

<%end%>