
<% if flash[:notice] -%>
    <div class = "alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h2>
  Reviews on <%= link_to(@product.name, url_for(@product)) %>
</h2>


<a class="btn btn-default" href= <%=url_for(new_product_product_review_path)%> role="button">Post Your Comment</a>

<div class="row">
    <% @product_reviews.each do |product_review| %>
      <div class="col-md-4" style="margin-top:10px;" itemscope itemtype="http://schema.org/Product">
        <blockquote>
          <%= product_review.content%>
          <footer> <%= product_review.name%></footer>
        </blockquote>
      </div>
    <% end %>
</div>

<%= will_paginate @product_reviews %>
