<p id="notice"><%= notice %></p>

<h1>
  <%= "All Customers' Comments for " + @product.name %>
</h1>


<div class="form-group">
  <button type="button" class="btn btn-default">Post Your Comment</button>
</div>

<a class="btn btn-default" src="<%= product_path(@product) %>" > Back To Product </a>

<div class="row">
  <div class="col-md-4" style="margin-top:10px;" itemscope itemtype="http://schema.org/Product">
    <% @product_reviews.each do |product_review| %>
        <blockquote>
          <%= product_review.content%>
          <footer> <%= product_review.name%></footer>
        </blockquote>
    <% end %>
  </div>
</div>
