<!-- Use locals:{obj:"something"} wherever you use partial-->
<base href="/">
  <div class="thumbnail" style="overflow:auto;">
    <h4 align=center style="font-size: 14px" itemprop="name"><a id="product_url_id_<%= product.id %>" href="<%= url_for(product) %>" itemprop="url"><%= product.name %></a></h4>
    <hr style="margin:5px" />
    <table>
      <tr>
        <td valign="top">
          <div style="width: 75px;">
            <img src="<%= product.image %>"  onerror="this.src='<%= asset_path('nopicture.png') %>'" style="max-width: 75px;"  align="left" itemprop="image">

          </div>
        </td>
        <td valign="top">
          <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <strong>Price:</strong> <span itemprop="price" priceCurrency="PKR">Rs. <%= product.price %>/-</span><br />
          </div>
          <strong>Sellers:</strong> <%= product.seller_product_links.count %><br />
          <strong>Used Phones:</strong> <%= product.used_products.count %><br />
          <strong>Comments:</strong> <%= product.product_review.count %><br />
          <%if obj=="related"%>
              <h4 align=center style="font-size: 14px" itemprop="name">
                <%=link_to "(Compare with this)",compare_path(product1:@product.id,product2:product.id)%>
              </h4>
          <%end%>

          <iframe src="//www.facebook.com/plugins/like.php?href=<%= ERB::Util.url_encode(products_url product) %>&amp;width=100&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
        </td>
      </tr>
    </table>
  </div>