<tr>
  <td>
   <%= link_to(image_tag("sellers/#{spl.seller.logo}"),seller_path)%>

  </td>
  <td><%= spl.name %></td>
  <td>
    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <span itemprop="priceCurrency" content="PKR">Rs.</span>
      <span itemprop="price" content="<%= spl.price %>"><%= price_format(spl.price) %></span>/-<br>
      <a target="_blank" href="<%= url_for(controller: 'products', action: 'wait', spl_id: spl.id) %>" nofollow>Go to Seller</a><br>
      <% if spl.not_found.nil? %>
        <link itemprop="availability" href="http://schema.org/InStock" />
        <span class="label label-success">In Stock</span>
      <% else %>
          <link itemprop="availability" href="http://schema.org/OutOfStock" />
          <span class="label label-danger">Out of Stock</span>
      <% end %>
    </div>
  </td>
</tr>
