<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ShopBuzz</title>


  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%=javascript_include_tag "autocomplete-rails.js"%>
  <%= csrf_meta_tags %>


  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <style>
    .ui-autocomplete {
    position: absolute;
    z-index: 1000;
  }
  </style>

</head>
<body
<% if content_for?(:body_attributes) %>
<%= yield(:body_attributes) %>
<% end %>>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">ShopBuzz</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
            <li><a href="<%= url_for controller: 'site', action: 'browse', category_id: category.id %>"><%= category.name %></a></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">

          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Used Products <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
                <li><a href="<%= url_for controller: 'used_products', action: 'page_by_category', category_id: category.id %>">Used <%= category.name %></a></li>
            <% end %>
          </ul>
        </li>
        <li><a href="/contacts">Contact</a></li>
      </ul>

      <%= form_tag products_path, :method => 'get', :id => "products_search",:class=>"navbar-form navbar-right" do %>
          <%= text_field_tag :search,@searchparam, :placeholder=>"Search" , :class=>"form-control xyzzz", type: "search", data: {autocomplete: autocomplete_product_name_products_path}%>
      <% end %>
      <script type="text/javascript" charset="utf-8">
        $('#search').bind('railsAutocomplete.select', function(event, data){
          $('#products_search').submit()
        });
      </script>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <%= yield %>

  <footer>
    <hr>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center">
      <strong>Disclaimer:</strong> All prices are updated periodically. However there can be discrepancy in some prices due to human error. Please report any such instance using the contact page.<br>
      Copyright &copy; 2016 http://Shopbuzz.pk - All Rights Reserved.
      </div>
    </div>
  </footer>
</div> <!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
  $('.grid').masonry({
    itemSelector: '.grid-item'
  });
</script>

</body>
</html>