<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>ShopBuzz</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body
<% if content_for?(:body_attributes) %>
<%= yield(:body_attributes) %>
<% end %>>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-notice" %>
<% end %>
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>">ShopBuzz</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
            <li><a href="<%= url_for controller: 'site', action: 'browse', category_id: category.id %>"><%= category.name %></a></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Used Products <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% Category.all.each do |category| %>
                <li><a href="#">Used <%= category.name %></a></li>
            <% end %>
          </ul>
        </li>
        <li><a href="/contacts">Contact</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
    </div><!--/.nav-collapse -->
  </div>
</nav>


<div class="container">

  <%= yield %>

  <footer>
    <hr>
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="text-align: center">
      <strong>Disclaimer:</strong> All prices are updated periodically. However there can be discrepancy in some prices due to human error. Please report any such instance using the contact page.<br>
      Copyright &copy; 2016 http://Shopbuzz.pk - All Rights Reserved.
      </div>
    </div>
  </footer>
</div> <!-- /container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.2.0/imagesloaded.pkgd.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
  $('.grid').masonry({
    itemSelector: '.grid-item'
  });
</script>

</body>
</html>